
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 3rem;
    color: #fff;
    position: relative;
  }
  
  .contact-image {
    width: 320px;
    height: 320px;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contact-form {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    background-color: transparent;
    color: #fff;
    padding: 0.9rem 1.2rem;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    box-shadow: 
      inset 5px 5px 10px rgba(0, 0, 0, 0.3),
      inset -5px -5px 10px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.2s ease;
  }
  
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #ccc;
  }
  
  .contact-form button {
    align-self: flex-start;
    padding: 0.8rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), 
                -5px -5px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .contact-form button:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.35), 
                -6px -6px 12px rgba(255, 255, 255, 0.12);
  }
  .contactHeading 
  {
    color: #fff;
  }
  
  @media screen and (max-width: 850px) {
    .contact-container button
    {
      margin: auto;
    }
  }
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-form {
      width: 100%;
      max-width: 100%;
    }
  
    .contact-image {
      width: 100%;
      max-width: 320px;
    }
    
  }
    @media (max-width: 500px)
    {
      .contact-container {
        padding: 1.5rem;
      }
  
      .contact-image {
        width: 100%;
        height: fit-content;
      }
  
      .contact-form input,
      .contact-form textarea {
        font-size: 0.9rem;
      }
  
      .contact-form button {
        font-size: 0.9rem;
        padding: 0.7rem 1.5rem;
      }
    }