.timelineContainer {
  position: relative;
  max-width: 1200px;
  height: fit-content;
  margin: 80px auto;
}
.timelineContainer .info p
{
  text-align: justify;
}
.box {
  position: relative;
  width: 50%;
  padding: 1rem 3rem;
  opacity: 0;
  animation: animateBox 0.3s linear forwards;
}
.timelineHeading h3
{
  text-align: end;
}
@keyframes animateBox {
  0% {
    opacity: 0.8;
    transform: translateY(500px) scale(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.box:nth-child(2) { animation-delay: 0s; }
.box:nth-child(3) { animation-delay: 0.4s; }
.box:nth-child(4) { animation-delay: 0.6s; }
.box:nth-child(5) { animation-delay: 0.9s; }
.box:nth-child(6) { animation-delay: 1s; }
.box:nth-child(7) { animation-delay: 1s; }

.box-left {
  left: 0;
}

.box-right {
  left: 50%;
}

.icon-wrapper {
  position: absolute;
  top: 30px;
  z-index: 10;
}

.icon-wrapper.left {
  right: -25px;
}

.icon-wrapper.right {
  left: -25px;
}

.icon {
  color: #00626c;
  border: 8px solid #2C2F38;
  border-radius: 50%;
  background: linear-gradient(-311deg, #000000, #003a40, #000);
  padding: 10px;
}

.info {
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: #232732;
  color: #fafafa;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.1);
}

.info h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #0098a9 0%, #00d4ff 50%, #006d7a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: #363636;
  animation: animateLine 3s linear forwards;
}

@keyframes animateLine {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

/* Responsive */
@media screen and (max-width: 775px) {
  .timelineContainer {
    margin: 40px auto;
  }

  .vertical-line {
    left: 40px;
  }

  .box {
    width: 100%;
    padding-left: 109px;
  }

  .box-left,
  .box-right {
    left: 0;
  }

  .icon-wrapper.left,
  .icon-wrapper.right {
    left: 8px !important;
    right: auto !important;
  }

  .info::after {
    left: -14px;
  }

  .box-left .info::after {
    border-left: 0;
    border-right: 14px solid #002124;
    left: -14px;
  }
  .timelineContainer .box
  {
    padding-left: 90px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .vertical-line {
    left: 30px;
  }

  .box {
    padding-left: 85px;
  }
  .icon-wrapper.left , .icon-wrapper.right
  {
    left: 0px !important;
  }
  

  .timelineContainer .box
  {
    padding-left: 75px;
  }
}
